asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.6
django-cors-headers==4.8.0
django-extensions==4.1
django-filter==25.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
flake8==6.1.0
gitdb==4.0.12
GitPython==3.1.45
gunicorn==23.0.0
iniconfig==2.1.0
isort==5.12.0
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.7.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pbr==7.0.1
pillow==11.3.0
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.1.1
PyYAML==6.0.2
rich==14.1.0
sentry-sdk==2.42.1
smmap==5.0.2
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.6.0
psycopg2-binary==2.9.7